<%= form_with(model: session, local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :session_title %>
  </div>

  <div class="field">
    <%= form.label :learning_objectives %>
    <%= form.text_field :learning_objectives, id: :session_learning_objectives %>
  </div>

  <div class="field">
    <%= form.label :topics %>
    <%= form.collection_check_boxes :topic_ids, Topic.all, :id, :title do |t| %>  
      <div class="collection-check-box" >
        <%= t.check_box %> <%= t.label %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.collection_select :event_id, Event.all, :id, :name, prompt: true, selected: Event.find_by_id(@event_id) ? @event_id : @session.event_id %>    
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :session_start_date %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, id: :session_duration %>
  </div>

  <div class="field">
    <%= form.label :trainers %>
    <%= form.collection_check_boxes :user_ids, User.joins(:roles).where('role_id > 3').uniq, :id, :full_name do |t| %>
      <div class="collection-check-box" >
        <%= t.check_box %> <%= t.label %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :participants %>
    <%= form.collection_check_boxes :user_ids, User.joins(:roles).where('role_id <= 3').uniq, :id, :full_name do |t| %>
      <div class="collection-check-box" >
        <%= t.check_box %> <%= t.label %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :picture_url %>
    <%= form.text_field :picture_url, id: :session_picture_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
