<%= form_with(model: organisation, local: true) do |form| %>
  <% if organisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>

      <ul>
      <% organisation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :abbr %>
    <%= form.text_field :abbr, id: :organisation_abbr %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :organisation_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :organisation_email %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :organisation_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
