<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Organisation:</strong>  
  <% @user.organisations.each_with_index do |r,i| %>
    <%if i> 0%>
    ,
    <% end %>
    <%= r.name %> (<%= r.abbr %>)
  <% end %>
</p>

<p>
  <strong>Role user:</strong>
  <% @user.roles.each_with_index do |r,i| %>
    <%if i> 0%>
    ,
    <% end %>
    <%= r.title %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
