<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_name %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :event_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, id: :event_end_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :event_description %>
  </div>

<<<<<<< HEAD
  <h3>Attendance</h3>
  <div id='attendees_attributes'>
    <%= form.fields_for :attendees do |a| %>
      <%= render 'attendee_fields', f: a %>      
=======
  <div class="field">
    <%= form.label :trainers %>
    <%= form.link_to_add_association 'Add Trainer', :users %>
  </div>

  <div class="field">
    <%= form.label :participants %>
    <%= form.collection_check_boxes :user_ids, User.joins(:audiences).where('role_id <= 3').uniq, :id, :full_name do |t| %>
      <div class="collection-check-box" >
        <%= t.check_box %> <%= t.label %>
      </div>
>>>>>>> 9b81d55d9c3f7e9001dfa3b8f5c384baacf19bb4
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add attendee', form, :attendees %>
    </div>
  </div>
  <br>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :event_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
