<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>      
      <th>Trainers</th>
      <th>Url</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%= event.description %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>   
        <td><% event.users.each_with_index do |r,i| %>
            <% if i>0%>
            ,
            <% end%>
            <%= link_to r.full_name, user_path(r.id) %>
          <% end %>
        </td>
          </td>     
        <td><%= event.url %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
