<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @handout.user %>
</p>

<p>
  <strong>Session:</strong>
  <%= @handout.session %>
</p>

<p>
  <strong>Url:</strong>
  <%= @handout.url %>
</p>

<%= link_to 'Edit', edit_handout_path(@handout) %> |
<%= link_to 'Back', handouts_path %>
