<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @trainer.user %>
</p>

<p>
  <strong>Category:</strong>
  <%= @trainer.category %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
